.pag {
    display: none;
}

span:hover {
    color: red;
    transition: all 0.5s;
    cursor: pointer;
    /* color: green; */
}

#pages li.active {
    color: red;
}

.paginator {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.paginator-active {
    color: red;
}

.pages {
    margin: 0.5%;
}