* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


/* Main content */

body {
    background-color: #e1e0e1;
}

main {
    max-width: 90%;
    margin: 60px auto;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    /* justify-content: space-between; */
}

.card {
    border: 5px solid black;
    width: 19%;
    margin-bottom: 1%;
    margin-left: 1%;
    /* margin: 0 auto 10px; */
    background-color: #fff;
    position: relative;
}

.card__img {
    width: 100%;
    /* width: 250px; */
    height: 200px;
}

.card__btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 10%;
    height: 10%;
}

@media(max-width: 1024px) {
    .card {
        width: 24%;
    }
}

@media(max-width: 768px) {
    .card {
        width: 49%;
    }
}

@media(max-width: 426px) {
    .card {
        width: 99%;
    }
}