* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


/* Основной контенд */

body {
    background-color: #e1e0e1;
}

main {
    max-width: 90%;
    margin: 60px auto;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    border: 5px solid black;
    margin: 0 auto 10px;
    background-color: #fff;
    position: relative;
}

.card__img {
    width: 250px;
    height: 200px;
}

.card__btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 10%;
    height: 10%;
}