.hide::before {
    content: "+";
}

.show::before {
    content: "-";
}

/* li {
    list-style: none;
} */


.tree, 
.tree ul,
.tree li {
  margin: 0;
  padding: 0;
  line-height: 1;
  list-style: none;
}
.tree ul {
  margin: 0 0 0 .5em; /* вести линию вниз где-то с полбуквы родителя */
}
.tree > li:not(:only-child),
.tree li li {
  position: relative;
  padding: .2em 0 0 1.2em; /* отступ до текста; для раскрывающегося списка в ряде случаев (в Хроме есть баг) padding-top (.2em) лучше указывать в px */
}
 .tree li:not(:last-child) {
  border-left: 1px solid #000; /* толщина, цвет и стиль (вместо сплошной пунктирная или точечная) вертикальной линии */
}
.tree li li:before,
.tree > li:not(:only-child):before { /* горизонтальная линия */
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1.1em; /* не более отступа до текста (1.2em) */
  height: .7em; /* начинается приблизительно с половины высоты буквы (.5em + .2em) */
  border-bottom: 1px solid #000;
}
.tree li:last-child:before { /* вертикальная линия последнего пункта в каждом списке */
  width: calc(1.1em - 1px); /* для перфекционистов */
  border-left: 1px solid #000;
}