.hide::before {
    content: "+";
}

.show::before {
    content: "-";
}


/* li {
    list-style: none;
} */

.tree,
.tree ul,
.tree li {
    margin: 0;
    padding: 0;
    line-height: 1;
    list-style: none;
}

.tree ul {
    margin: 0 0 0 .5em;
    /* draw the line down somewhere with half a letter of the parent */
}

.tree>li:not(:only-child),
.tree li li {
    position: relative;
    padding: .2em 0 0 1.2em;
    /* padding to the text; for a drop-down list, in some cases (there is a bug in Chrome), padding-top (.2em) is better specified in px */
}

.tree li:not(:last-child) {
    border-left: 1px solid #000;
    /* thickness, color, and style (instead of a solid dotted or dotted line) of the vertical line */
}

.tree li li:before,
.tree>li:not(:only-child):before {
    /* horizontal line */
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1.1em;
    /* no more than an indent to the text (1.2 em) */
    height: .7em;
    /* starts at about half the height of the letter (.5em + .2em) */
    border-bottom: 1px solid #000;
}

.tree li:last-child:before {
    /* vertical line of the last item in each list */
    width: calc(1.1em - 1px);
    /* for perfectionists */
    border-left: 1px solid #000;
}